.mainFooter {
  width: 100%;
  padding: 20px 0;
  color: var(--secondary-font-color);
  background-color: var(--bg-color-3);
}

@media (orientation: portrait) and (max-width: 480px) {
  .mainFooter {
    font-size: 14px;
  }
}