.intro {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.callUs {
  position: absolute;
  bottom: 20px;
  right: 45px;
  box-sizing: border-box;
  width: 300px;
  height: 245px;  
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Impact, Arial, sans-serif;
  text-align: center;
  line-height: 1;
  color: var(--secondary-font-color);
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);  
  box-shadow: 5px 10px 5px rgba(0,0,0,0.5);
}

.callUs::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  width: 170px;
  height: 50px;
  background-image: url("./img/thread.png");
  transform: translateX(-50%);
  /* border-top: 2px solid var(--bg-color-3);
  border-left: 2px solid var(--bg-color-3);
  transform: rotate(45deg); */
}

.phone {
  font-size: 58px;
  font-weight: 900;  
}

.phoneNumber {  
  font-size: 36px;
  font-weight: 900;
}

.mail {
  font-size: 26px;
  letter-spacing: 3px;
}

.help {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;  
  color: var(--secondary-font-color);
  background-color: var(--bg-color-3);  
}

.helpHeadline {
  font-family: Impact, Arial, sans-serif;
  font-size: 60px;
  line-height: 1;
  text-decoration: underline;
}

.helpDescr {
  padding: 3px;
  padding-left: 10px;
  font-size: 16px;
}

.systems {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.partners {
  width: 100%;
  height: 200px;
  padding: 20px 0;
  
  font-family: Impact, Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: var(--bg-color-3);

  background-color: var(--bg-color-4);
  background-image: url(./img/partners-bg.jpg);
  background-size: auto;
	background-repeat: repeat;
	background-position: center top;
  border-top: 3px solid var(--border-color);
}

.partnersHeadline {
  margin: 20px 0;
  
}

.partnersList {
  display: flex;
  justify-content: space-between;
}

.partnersItem {
  padding: 20px 0;
}

.partnersBorder {
  width: 1px;
  border-left: 1px solid rgba(0, 0, 0, .35);
  border-right: 1px solid rgba(255, 255, 255, .35);
}

.partnersMore {
  position: relative;
  display: block;
  padding-right: 30px;
  text-align: right;
}
.partnersMore::before {
  content: '';
  position: absolute;
  top: 7px;
  right: 15px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top: 2px solid var(--bg-color-3);
  border-right: 2px solid var(--bg-color-3);
}

.partnersMore::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 8px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top: 2px solid var(--bg-color-3);
  border-right: 2px solid var(--bg-color-3);
}

@media (max-width: 660px) {
  .callUs {  
    width: fit-content;
    height: auto;  
    padding: 10px;
  }

  .phone {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 700;  
  }

  .phoneNumber {  
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
  }

  .mail {
    font-size: 26px;
    letter-spacing: 3px;
  }

  .helpHeadline {    
    font-size: 56px;    
  }

  .helpDescr {
    padding: 3px;
    padding-left: 10px;
    font-size: 12px;
  }

}

@media (orientation: portrait) and (max-width: 480px) {
  .callUs {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .phone {
    display: none;
  }

  .phoneNumber {
    margin-bottom: 20px;
  }

  .help {
    display: block;
  }

  .helpHeadline {
    display: block;
    margin-bottom: 10px;
  }

  .helpDescr {
    display: block;
    padding: 0;
    font-size: 14px;
  }

  .partnersList {
    flex-direction: column;
  }

  .partners {
    height: auto;
  }

  .partnersHeadline {
    margin: 0;
  }

  .partnersBorder {display: none;}

  .partnersItem {
    text-align: center;
  }
  
}
