.mainNavWrap {
  padding: 20px 0;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  color: var(--link-color);
}

.mainNavItem {
  
  border-right: 1px solid var(--bg-color-3);
  cursor: pointer;
}

.mainNavItem:last-child {
  border: none;
}

.mainNavLink {
  display: block;
  padding: 0 20px;
}

.activeLink {
  /* color: var(--current-link-color); */
  /* text-decoration: underline; */
  font-weight: 900;
}

.invisible {
  display: none;
}

@media (orientation: portrait) and (max-width: 480px) {
  .mainNavWrap {    
    padding: 0;
    background-color: var(--menu-toggle-bg);
    border-radius: var(--border-radius);
  }

  .mainNav {
    display: flex;
    flex-direction: column;
  }

  .mainNavItem {
    font-size: 2.5rem;
    border: none;
  }

  .mainNavLink {
    padding: 20px;
    text-align: right;
  }

}