.logo {
	box-sizing: border-box;
	width: 320px;
	height: 160px;
	padding-top: 10px;
	background-color: var(--bg-color-3);
}

.roof {
	text-align: center;
}

.logoTitle {
	margin-top: -20px;
	font-family: Impact, Arial, sans-serif;
	font-size: 68px;
	font-weight: 900;
	letter-spacing: 3px;
	text-align: center;
	color: var(--secondary-font-color);
}

.slogan {
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: var(--secondary-font-color);
}
@media (width < 980px) {
}

@media (orientation: portrait) and (width < 480px) {
	.logo {
		width: 260px;
		height: auto;
		padding: 0;
	}
}
