.logo {
  box-sizing: border-box;
  width: 340px;
  height: 145px;
  padding: 4px;
  background-color: var(--bg-color-3);
}

.roof {
  text-align: center;
}

.logoTitle {
  margin-top: -20px;
  font-family: Impact, Arial, sans-serif;
  font-size: 58px;  
  font-weight: 900;  
  text-align: center;
  color: var(--secondary-font-color);
}

.slogan {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;  
  font-weight: 400;
  text-align: center;
  color: var(--secondary-font-color);
}