.bgFixed {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -1;	
	/* background-image: linear-gradient(var(--main-bg-color) 55%, var(--secondary-bg-color)); */
	background-color: var(--main-bg-color);
	background-image: url(./bg-dots.png);
	background-size: auto;
	background-repeat: repeat;
	background-position: center top;
}


