.bgFixed {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-image: url('./bg-winter.jpg');
	background-size: cover;
	/* background-image: linear-gradient(transparent 95%, #e9f0f2); */
}

.startContainer {
	margin: 0 auto;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.startContainer::-webkit-scrollbar {
	width: 0.7rem;
	background-color: transparent;
}

.startContainer::-webkit-scrollbar-thumb {
	background-color: var(--primary-text-color);
	border-radius: 0.25rem;
}

.start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;	
	scroll-snap-align: start;
}

.startNameWrap {
	position: absolute;
	top: 50px;
	right: 0;
	padding: 10px;
	font-style: italic;
	color: var(--primary-text-color);
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(0.1rem);
}

.startName {
	position: relative;
	margin: 0 auto;
	padding-right: 60px;
	font-size: 24px;
	font-weight: lighter;
	text-align: center;
	letter-spacing: 3px;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 36px;
		background-image: url('./mail.svg');
		background-repeat: no-repeat;
		background-size: 90%;
		background-position: center;
	}
}

.startTitle {
	margin: auto;
	margin-bottom: 20px;
	font-size: 36px;
	color: var(--primary-text-color);
	letter-spacing: 3px;
	text-align: center;
}

.startSecondaryTitle {
	margin: auto;
	font-style: italic;
	font-size: 28px;
	font-weight: lighter;
	letter-spacing: 3.5px;
	text-align: center;
}

.startMenuWrap {
	position: absolute;
	bottom: 50px;
	width: 100%;
	height: auto;
	color: var(--primary-text-color);
	letter-spacing: 3px;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
}

.startMenuList {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.startMenuItem {
	display: block;
	margin-right: 120px;
	padding: 10px;
	font-weight: lighter;
	font-size: 24px;
	text-align: center;

	&:last-child {
		margin-right: 0;
	}
}

.startAbout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;	
	scroll-snap-align: start;
}

.startAboutWrap {	
	width: 50%;
	margin: auto;
	padding: 1rem;
	border: 0.1rem solid rgb(255, 255, 255);
	border-radius: 1rem;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(0.1rem);
}

.startHeadline {}

.startAboutDesc {
	color: var(--secondary-text-color);
}