.bgFixed {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -1;	
	background-color: var(--main-bg-color);
	background-image: url(./bg-dots.png);
	background-size: auto;
	background-repeat: repeat;
	background-position: center top;
}

.mainLayout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.mobilePlank {display: none;}

@media (orientation: portrait) and (max-width: 480px) {
	.mobilePlank {
		display: block;
		padding: 20px 10px;
		font-size: 24px;
		color: var(--secondary-font-color);
		text-align: center;
	}
}
