.system {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  color: var(--secondary-font-color);
}

.systemName {
  padding: 10px 0;
  font-family: Impact, Arial, sans-serif;
  font-size: 22px;  
  text-decoration: underline;
  text-align: center;
  background-color: var(--bg-color-3);
}

.systemName:hover {  
  color: rgb(255,255,255);
}