.wrap {
  min-height: 420px;
  margin-bottom: 20px;
}
.text {
  font-size: 16px;  
}

.image {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  transform: translateY(5px);
}

@media (orientation: portrait) and (max-width: 480px) {
  .image {
    width: 100%;
    height: auto;
    transform: none;
  }
} 