.mainHeader {
  height: 196px;  
}

.topPart {
  position: fixed;
  top: 0;
  width: 100%;
  height: 66px;
  background-color: var(--bg-color-2);
  border-bottom: 4px solid var(--bg-color-3);
  z-index: -1;
}

