.mainHeader {
	height: 196px;
}

.topPart {
	width: 100%;
	height: 66px;
	background-color: var(--bg-color-2);
	border-bottom: 4px solid var(--bg-color-3);
}

.headerInnerWrap {
	display: flex;
	justify-content: space-between;
	align-items: top;
}

.headerNavWrap {
	height: 66px;
}

.menuToggle {
	display: none;
}

.headerPLank {
	box-sizing: border-box;
	width: 100%;
	margin: 20px auto;
	padding: 5px;
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	border-radius: 35px;
	border: 2px solid transparent;
	text-align: center;
	background:
		linear-gradient(to right, var(--main-bg-color), var(--main-bg-color)),
		linear-gradient(45deg, #e2eaf7 6.41%, #8baef0 46.71%, #2b68eb 92.15%);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
}

@media (orientation: portrait) and (max-width: 480px) {
	.mainHeader {
		position: relative;
		height: 190px;
		padding-top: 12px;
		background-color: var(--bg-color-2);
		border-bottom: 4px solid var(--bg-color-3);
	}

	.topPart {
		height: auto;
		background-color: var(--bg-color-3);
		border: none;
		box-shadow: 0 1px 4px var(--shadow-1);
	}

	/* MENU TOGGLE */

	.menuToggle {
		position: absolute;
		top: 40px;
		right: 20px;
		display: block;
		width: 50px;
		height: 50px;
		background-color: var(--menu-toggle-bg);
		border-radius: var(--border-radius);
	}

	.hamburger {
		display: block;
		width: 25px;
		height: 3px;
		background: #333; /* Цвет линий */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 0.3s;
	}

	.hamburger::before,
	.hamburger::after {
		content: '';
		width: 25px;
		height: 3px;
		background: #333;
		position: absolute;
		left: 0;
		transition: 0.3s;
	}

	.hamburger::before {
		top: -8px; /* Отступ вверх */
	}

	.hamburger::after {
		bottom: -8px; /* Отступ вниз */
	}

	/* Эффект при клике (добавить класс JS) */
	.menuToggle.isActive .hamburger {
		background: transparent;
	}

	.menuToggle.isActive .hamburger::before {
		transform: rotate(45deg);
		top: 0;
	}

	.menuToggle.isActive .hamburger::after {
		transform: rotate(-45deg);
		bottom: 0;
	}

	/* MENU */
	.headerInnerWrap {
		position: relative;
	}

	.headerNavWrap {
		position: absolute;
		top: 70px;
		right: 0;
		width: 80%;
		height: auto;
		box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
		z-index: 10;
	}
}
