.mainHeader {
  height: 196px;  
}

.topPart {
  width: 100%;
  height: 66px;
  background-color: var(--bg-color-2);
  border-bottom: 4px solid var(--bg-color-3);
}

@media (max-width: 980px) {

}

@media (orientation: portrait) and (max-width: 480px) {
  .mainHeader {        
    height: 165px;
    padding-top: 12px;
    background-color: var(--bg-color-2);
    border-bottom: 4px solid var(--bg-color-3);
  }

  .topPart {    
    height: auto;
    padding: 10px 0;
    background-color: var(--bg-color-3);
    border: none;
    box-shadow: 0 1px 4px var(--shadow-1);
  }

}