.headline {
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: var(--bg-color-3);  
  font-family: Impact, Arial, sans-serif;
  font-size: 60px;
  line-height: 1;  
  color: var(--secondary-font-color);
  white-space: nowrap;
  text-decoration: underline;  
}

@media (orientation: portrait) and (max-width: 480px) {
  .headline {
    font-size: 32px;
    text-align: center;
  }
}