.headline {
	margin-bottom: 20px;
	padding: 20px;
	padding-top: 10px;
	background-color: var(--bg-color-3);
	font-family: Impact, Arial, sans-serif;
	font-size: 50px;
	line-height: 1;
	color: var(--secondary-font-color);
	white-space: nowrap;
	text-decoration: underline;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
}

@media (orientation: portrait) and (max-width: 480px) {
	.headline {
		font-size: 32px;
		text-align: center;
	}
}
