@media (orientation: portrait) {
	/*1rem = 1% высоты*/
	html {
		font-size: 1vh;
	}

	@supports (font-size: 1dvh) {
		html {
			font-size: 1dvh;
		}
	}
}

@media (orientation: landscape) {
	/*1rem = 1% ширины*/
	html {
		font-size: 1vw;
	}
}

html {
	min-width: 320px;
}

@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: 'Impact';
	font-display: swap;
	src:
		local('Impact'),
		url('../public/fonts/impact.woff2') format('woff2');
}

:root {
	font-family: Arial, Verdana, sans-serif; /*Verdana, Impact*/
	line-height: 1.3;
	font-weight: 400;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;

	color-scheme: light dark;
	color: var(--primary-font-color);
	background-color: #ecf5f7;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;

	--primary-font-color: rgb(0, 0, 0);
	--secondary-font-color: rgb(204, 204, 204);

	--main-bg-color: rgb(83, 75, 59);
	--bg-color-2: rgb(168, 160, 144);
	--bg-color-3: rgb(42, 38, 30); /* --color_15 #2a261e*/
	--bg-color-4: rgb(200, 200, 200); /* */

	--border-color: rgb(212, 205, 191);

	--current-link-color: rgb(102, 102, 102); /* #666666 */
	--link-color: rgb(68, 68, 68); /* #444444 */

	--shadow-1: rgba(0, 0, 0, 0.6);

	--menu-toggle-bg: rgb(212, 205, 191);

	--border-radius: 5px;

	--break-midi: 980px;
	--break-mobile: 480px;
}

/* @font-face {
	font-style: normal;
	font-weight: normal;
	font-family: 'Vollkorn';
	font-display: swap;
	src:
		local('Vollkorn'),
		url('../public/fonts/Vollkorn.woff2') format('woff2');
}

@font-face {
	font-style: italic;
	font-weight: normal;
	font-family: 'Vollkorn';
	font-display: swap;
	src:
		local('Vollkorn Italic'),
		url('../public/fonts/Vollkorn-Italic.woff2') format('woff2');
} */

.visuallyHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#root {
	min-height: 100vh;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	list-style-type: none;
}

button {
	border: none;
	padding: 0;
	outline: none;
}

.container {
	width: 980px; /*fix size!!!*/
	margin: 0 auto;
}

@media (max-width: 980px) {
	.container {
		box-sizing: border-box;
		width: 100%;
		padding: 0 20px;
	}
}

@media (orientation: portrait) and (max-width: 480px) {
	.container {
		padding: 20px;
	}
}

@media (prefers-color-scheme: light) {
}

/* Для скроллов */

body::-webkit-scrollbar {
	width: 0.7rem;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--primary-font-color);
	border-radius: 0.25rem;
}

/* Только для WebKit браузеров (Chrome, Safari, Opera, Edge) */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	::-webkit-scrollbar {
		width: 0.8rem;
		background-color: transparent;
	}

	/* ::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.5); /*всегда рисует полосу для скролла*/
	/*} */

	::-webkit-scrollbar-thumb {
		background-color: var(--primary-font-color);
		border-radius: 0.25rem;
		border: 0.125rem solid transparent;
		background-clip: padding-box;
		transition: background-color 0.3s ease;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: var(--secondary-font-color);
	}
}

/* Только для Firefox */
@supports (scrollbar-color: auto) and (-moz-appearance: none) {
	* {
		scrollbar-width: thin;
		scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
	}

	*:hover {
		scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
	}
}
