@media (orientation: portrait) { /*1rem = 1% высоты*/
	html {
		font-size: 1vh;
	}

	@supports (font-size: 1dvh) {
		html {
			font-size: 1dvh;
		}
	}
}

@media (orientation: landscape) { /*1rem = 1% ширины*/
	html {
		font-size: 1vw;
	}
}

:root {
	/* font-family: "Vollkorn", system-ui, Avenir, Helvetica, Arial, sans-serif; */
	font-family: 'Vollkorn', Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;

	color-scheme: light dark;
	color: var(--primary-text-color);
	background-color: #ecf5f7;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;

	--primary-text-color: rgb(181, 146, 64); /*#b59240*/
	--secondary-text-color: rgb(116, 93, 42); /*#*/

	--darkFont: #001226; /*#291d1c*/
	--lightFont: #ffffff;
}

@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: 'Vollkorn';
	font-display: swap;
	src:
		local('Vollkorn'),
		url('../public/fonts/Vollkorn.woff2') format('woff2');
}

@font-face {
	font-style: italic;
	font-weight: normal;
	font-family: 'Vollkorn';
	font-display: swap;
	src:
		local('Vollkorn Italic'),
		url('../public/fonts/Vollkorn-Italic.woff2') format('woff2');
}

.visuallyHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;	
}

body::-webkit-scrollbar {
	width: 0.7rem;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--primary-text-color);
	border-radius: 0.25rem;
}

#root {
	min-height: 100vh;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	padding: 0;
	list-style: none;
}

li {
	list-style-type: none;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
}
